{% extends 'base.html' %}

{% block title %}Pets List{% endblock %}

{% block content %}

  <h1>Pets List</h1>

  <ul>
    {% for pet in pets %}
      <li>
        <img src="{{ pet.photo_url }}" alt="Pet image">
        <a href="/{{ pet.id }}">{{ pet.name }}</a>
        {% if pet.available == True %}
          <p>{{ pet.name }} is available!</p>
        {% else %}
          <p>{{ pet.name }} has been adopted, sorry!</p>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  <p><a class="btn btn-sm btn-secondary" href="/add">Add a Pet</a></p>

{% endblock %}